* {
    margin: 0;
    padding: 0;
}

/* ------------------- */
/* MAIN NAVIGATION BAR */
/* ------------------- */

/* ----------------------------- */
/* HOME PAGE AND ALL PARTS OF IT */
/* ----------------------------- */


/* ----------------------------- */
/* ATTRACTIONS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.attractions {
    background-color: gray;
    height: 500px;
}

/* ----------------------------- */
/* NOURISHMENTS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.nourishments {
    background-color: antiquewhite;
    height: 500px;
}

/* ----------------------------- */
/* LOCATIONS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.location {
    background-color: brown;
    height: 500px;
}

/* ----------------------------- */
/* TRANSPORTATION PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.transportation {
    background-color: azure;
    height: 500px;
}

/* ----------------------------- */
/* DRESS CODE PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.dresscode {
    background-color: cornsilk;
    height: 500px;
}

