* {
    margin: 0;
    padding: 0;
}

/* ------------------- */
/* MAIN NAVIGATION BAR */
/* ------------------- */

header {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: aqua;
}

.logo {
    height: 48px;
    float: left;
    margin: 16px 48px;
}

nav.black {
    background: #000;   
}

/* ----------------------------- */
/* HOME PAGE AND ALL PARTS OF IT */
/* ----------------------------- */


/* ----------------------------- */
/* ATTRACTIONS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.attractions {
    background-color: gray;
    height: 500px;
}

/* ----------------------------- */
/* NOURISHMENTS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.nourishments {
    background-color: antiquewhite;
    height: 500px;
}

/* ----------------------------- */
/* LOCATIONS PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.location {
    background-color: brown;
    height: 500px;
}

/* ----------------------------- */
/* TRANSPORTATION PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.transportation {
    background-color: azure;
    height: 500px;
}

/* ----------------------------- */
/* DRESS CODE PAGE AND ALL PARTS OF IT */
/* ----------------------------- */

.dresscode {
    background-color: cornsilk;
    height: 500px;
}

