.nav-rester4 {
    height: 80px;
    background-color: black;
}


.dress-men h1 {
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    text-align: center;
}

.dress-women h1 {
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    text-align: center;
    color: white;
}

.dress-men p {
    font-size: 300px;
    color: black;
    text-align: center;
    position: relative;
    top: 10%;
    
}

.dress-women p {
    color: white;
    font-size: 300px;
    text-align: center;
    position: relative;
    top: 10%;

}

.men-list {
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    text-align: center;
    position: relative;
    top: 10%;
    border: 1px solid;
    
}

.women-list {
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    text-align: center;
    position: relative;
    top: 10%;
    color: white;
    border: 1px solid;
    
}

